@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.request-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-family: Montserrat, sans-serif;
}

#request-image {
	width: 50%;
	height: 55%;
}

body {
	background-color: #1d1d1d;
	margin: 0;
	padding: 0;
}
